header{
    background-color: gray;
    padding: 20px 20px 0 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}


.produtos li {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    margin: 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;
}
.produtos li:hover {
    border-color: blue;
  
}
.produtos li:hover h2{
    font-size: xx-large;

}
.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-weight: bold;
    font-size: 22px;

}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    padding-top: 10px;
    font-weight: bold;
}

footer{
    background: url(_imagens/bg.jpg);
    text-align: center;  
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    padding-top: 20px;
}