header{
    background-color: gray;
    padding: 20px 20px 0 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;
}
body{
    font-family: 'Montserrat', sans-serif;
 
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}


.produtos li {
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    margin: 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;
}
.produtos li:hover {
    border-color: blue;
  
}
.produtos li:hover h2{
    font-size: xx-large;

}
.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-weight: bold;
    font-size: 22px;

}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    padding-top: 10px;
    font-weight: bold;
}

footer{
    background: url(_imagens/bg.jpg);
    text-align: center;  
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    padding-top: 20px;
}

main{

}

form{
    margin: 40px;
}

form label, legend {
    display: block;
    font-size: 22px;
    font: bold;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 10px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    background: orange;
    color: white;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);

}

table{
    margin: 20px 0 40px;
    transition: 2s all;
    margin: 40px;
}
table:hover{
    transform: scale(1.1);
}

thead{
    background: gray;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 3px;

}
/* CSS da página inicial */
.banner {
    width: 100%;

}

.tituloprincipal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.tituloprincipal:first-letter {
    font-weight: bold;
}

.itens:before {
    content: "✫";   

}


.principal {
    padding: 3em 0;
    background: white;
    width: 940px;
    margin: 0 auto;

}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
font-weight: bold;
}
.principal em{
    font-style: italic;
    }

.beneficios{
    background: gray;
    padding: 3em 0;

}
.itens{
    line-height: 1.5;
}
.itens:nth-child(1){
    font-weight: bold;
}

.imgbeneficios {
    width: 60%;
    opacity: 0.7;
    transition: all 400ms;
    box-shadow: 10px 10px 5px black;
}
.imgbeneficios:hover {
    width: 60%;
    opacity: 1;
}


.conteudobeneficios{
    width: 640px;
    margin: 0 auto;

}

.listabeneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;

}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}


.mapa{
    padding: 3em;
    background: linear-gradient(white, gray);
    margin: 0 auto;

}
.mapaconteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.video{
    width: 560px;
    height: auto;
    margin: 1em auto;
}

@media screen and (max-width: 480px)   {
    .caixa, .principal, .conteudobeneficios, .mapaconteudo, .video, .produtos, .produtos li{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .listabeneficios, .imgbeneficios{
        width: 100%;
    }
    
}
